<!DOCTYPE HTML>
<html>
<head><title></title>
</head>
<body style="background-color: #c8c8c8;">
<h1 align= center style="font-family: verdana; font-size: 75px;">Team JART Title</h1>

<div style="float: right; padding-right: 100px; position: fixed;"> 

<table>
<tr><td> 
<h2 style="font-family: verdana; font-size: 20px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Login: <input style="font-size: 20px; "type="text" name="userrname" required><td>
</tr>     
     <br>

<tr><td>
<h2 style="font-family: verdana; font-size: 20px;">Password: <input style="font-size: 20px;"  type="password" name="password" required></td>
</tr>
</h2>
</table>
</div>
                                                                                                                               

</body>
</html>
