{% extends "base.html" %}

{% block body %}

<h2>Stories</h2>
<form method="GET" action="">
  Search
  <input type="text" name="search">
  <input type="submit">
</form>

{% if stories %}
<br><br>
<button type="submit"><a href="{{ url_for('contribute', story_id = rand_story_id) }}">Random Story</a></button>
<br><br>
<table border="1">
  <tr>
    <td>Title</td>
    <td>Creator</td>
    <td>Last Contribution</td>
    <td>Action</td>
  </tr>
  {% for story in stories %}
  {% if not stories[story]['complete'] %}
  <tr>
    <td>{{ stories[story]['title'] }}</td>
    <td>{{ stories[story]['creator'] }}</td>
    <td>{{ stories[story]['last_contribution'] }}</td>
    <td><a href="{{ url_for('contribute', story_id = story) }}">Contribute</a></td>
  </tr>
  {% endif %}
  {% endfor %}
</table>
{% else %}
<p>There are no stories to contribute to. <a href="{{ url_for('create_story') }}">Create</a> one!</p>
{% endif %}

{% endblock %}

